
.container-1{
    width: 100%;
    height: 60px;
    background-color: rgb(25, 128, 80);
    color: white;
    position: relative;
    padding: 10px; 
    box-sizing: border-box;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.container-2{
    position: absolute;
    left:30%;
    right:0;
    background-color: rgb(210, 240, 223);
    padding: 20px; 
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}