@import url(normalize.css);
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.for-header{
    display: flex;
    justify-content: center;
}
.login-button {
    position: absolute;
    height: 25px;
    width: 100px;
    background-color: rgb(139, 139, 139);
    border-radius: 30px 0 30px 30px;
    padding: 0.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    right:0;
    align-content: center;
    text-align: center;
}
.for-header > h1{
    text-transform: uppercase;
}
.for-header > h1 a{
    color: rgb(0, 0, 0);
}

.login-label {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    

}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
hr {
    border: 1px solid black;
    max-width: 30%;
    margin: 2em auto;
}
footer{
    align-items: center;
    text-align: center;
    background-image:linear-gradient( rgb(255, 255, 255),rgb(189, 255, 198));
}