@import url(normalize.css);
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}


