@import url(normalize.css);
body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #007BFF;
}
.for-header{
    display: flex;
    justify-content: center;
    background-color: white;
}
.login-button {
    position: absolute;
    height: 25px;
    width: 100px;
    background-color: rgb(139, 139, 139);
    border-radius: 30px 0px 30px 30px;
    padding: 0.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    right:0;
    align-content: center;
    text-align: center;
}
.for-header > h1{
    text-transform: uppercase;
}
.for-header > h1 a{
    color: rgb(0, 0, 0);
}

.login-label {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
}
.contacts{
    display: flex;
    position: relative;
    background-color: rgb(189, 255, 198);
    justify-content: center;
}
.contacts > a{
    margin: 10px;
}
.under-contacts{
    display: flex;
    padding: 1em;
    color: white;
    justify-content: space-around;
}
form {
    display: flex;
    flex-direction: column;
    top:0;
}
textarea{
    width: 20em;
    height: 10em;
    resize: none;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
}
.for-button > button{
    outline: none;
    border: none; 
    border-radius: 5px;
    text-transform: uppercase;
}
.for-button{
    display: flex;
    justify-content: center;
}
#warning {
    display: none;
    align-self: center;
    margin: auto;
    padding: 1em;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
}
#warning #warn-close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    color: gray;
    
}
#text {
    text-align: center;
}
#review {
    color: white;
    cursor: pointer;
}