@import url(normalize.css);
.for-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0;    
}
.for-header a {
    color: black;
}
.for-header > h1{
    text-transform: uppercase;
}
.for-header >h2 {
    text-transform: uppercase;
}

.interactive-button {
    position: relative;
    height: 20px;
    width: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border: 2px solid black;
    align-content: center;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    
}