@import url(normalize.css);
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #007BFF;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hello, .market-info {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 30%;
    min-width: 20em;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1em;
    align-items: center;
}
.hello {

    background-color: #f9f9f9;
    
}
.close-info {
    position: relative;
    width: 55px;
    color: gray;
    padding: 1px;
    font-size:13px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.market-info {
    background-color: rgb(189, 255, 198);
    
}
.market-label-info {
    text-align: center;
    margin-bottom: 0.5em;
}
hr {
    border: 1px solid black;
    max-width: 30%;
    margin: 2em auto;
}
footer{
    align-items: center;
    text-align: center;
    
}
