@import url(normalize.css);
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legend {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(189, 255, 198), rgb(255, 255, 255));
    border-radius: 15px 15px 0 0;
    padding: 0.3em;
    text-align: center;
}

.for-fieldset {
    margin: auto;
    max-width: 20rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    padding: 1em;
}

label {
    color: #535353;
    font-size: 14px;
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 95%;
    font-size: 18px;
    padding: 6px 10px;
    border: 1px solid #cecece;
    border-radius: 8px;
    outline: none;
    background-color: #F6F6F6;
    margin-bottom: 1em;
    display: block;
}

.reg {
    text-align: center;
    font-size: 12px;
}

.for-fieldset a {
    text-decoration: underline;
    color: rgb(61, 60, 60);
    font-size: 12px;
}
.regbutton {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: none;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logbutton {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    border: none;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(189, 255, 198));
}