body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: column;
}
.login-button {
    position: fixed;
    max-width: 8em;
    max-height: 4em;
    background-color: rgb(139, 139, 139);
    border-radius: 30px;
    padding: 0.3em;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    right: 1em;
    top:1em;
}
h1{
    align-self: center;
    text-transform: uppercase;
}
h1 a{
    color: rgb(0, 0, 0);
}

.login-label {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;

}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.legend{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    background-image:linear-gradient(rgb(189, 255, 198), rgb(255, 255, 255));
    border-radius: 15px 15px 0 0;
    padding: 0.3em;
    
}

.for-fieldset{
    position: relative;
    align-self: center;
    width: 23rem;
    height: 70%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8)
}

label{
    color:#535353;
    font-size: 18px;
}
input{
    width: 95%;
	font-size: 20px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	border-radius: 8px;
    outline:none;
    background-color: #F6F6f6;
    margin-bottom: 1em;

}
button{
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    border: none;
    text-transform: uppercase;
    background-color:  rgb(255, 255, 255)
}
button:hover{
    background-image:linear-gradient( rgb(255, 255, 255),rgb(189, 255, 198));
    
}

hr {
    border: 1px solid black;
    max-width: 30%;
    margin: 2em auto;
}
footer{
    align-items: center;
    text-align: center;
    background-image:linear-gradient( rgb(255, 255, 255),rgb(189, 255, 198));
}